body {
    background: url(../images/DarkTile.jpg);
    background-repeat: repeat;
}

#user-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: url(../images/Banners.png);
    background-repeat: repeat;
    opacity: .6;
}

h1 {
    color: white;
    font-size: 125px;
    font-family: 'IM Fell DW Pica SC', serif;
}

#container {
    min-height: calc(100vh - 100px);
}

#hero-grid {
    display: grid;
    background-color: rgba(169, 169, 169, 0.4);
    width: 90%;
    margin: 40px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        ". starks . lannisters . targaryens . walkers .";
}

.battle-cards {
    position: static;
    z-index: 2;
    border: solid white 10px;
    border-radius: 10%;
    height: 273px;
    width: 200px;
    filter: contrast(1.25);
}

a:hover {
    filter: brightness(1.25);
}

.battle-outline {
    position: absolute;
    z-index: -1;
    top: 0;
    border: solid white 10px;
    border-radius: 10%;
    height: 273px;
    width: 200px;
}

#starks {
    grid-area: starks
}

#lannisters {
    grid-area: lannisters;
}

#targaryens {
    grid-area: targaryens;
}

#white-walkers {
    grid-area: walkers;
}

.relative-cards {
    display: flex;
    justify-content: center;
    position: relative;
    height: 273px;
    width: 200px;
}

.hitpoints {
    position: absolute;
    z-index: 4;
    bottom: -15px;
    font-size: 45px;
    color: white;
    opacity: .75;
    font-family: 'IM Fell DW Pica SC', serif;
}

.card-names {
    position: absolute;
    z-index: 4;
    top: 0;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    opacity: .75;
    font-family: 'IM Fell DW Pica SC', serif;
}

.battle-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        ". attacker . throne . defender .";
}

#attacker-card {
    grid-area: attacker;
    height: 273px;
    width: 200px;
    margin-top: 80px;
}

.attacker {
    position: absolute;
    z-index: 3;
    border: solid rgb(27, 66, 108) 10px;
    border-radius: 10%;
    height: 273px;
    width: 200px;
}

#iron-throne {
    grid-area: throne;
    height: 400px;
    width: 351px;
}

#defender-card {
    grid-area: defender;
    height: 273px;
    width: 200px;
    margin-top: 80px;
}

.defender {
    position: absolute;
    z-index: 3;
    border: solid rgb(108, 27, 27) 10px;
    border-radius: 10%;
    height: 273px;
    width: 200px;
}

.card-format {
    position: absolute;
    z-index: 4;
    border: solid rgb(255, 255, 255) 10px;
    border-radius: 10%;
    height: 273px;
    width: 200px;
}

.card-role {
    position: absolute;
    z-index: 5;
    top: 44px;
    right: -19px;
    font-size: 15px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'IM Fell DW Pica SC', serif;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid white 2px;
}

.atk-role {
    background-color: rgb(27, 66, 108);
}

.def-role {
    background-color: rgb(108, 27, 27);
}

#result-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
        ". attack-info . controls . defend-info .";
}

.results {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Cormorant Unicase', serif;
    color: white;
    opacity: .75;
    font-weight: bold;
    border: solid white 3px;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    padding: 10px;
}

#game-controls {
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: center;
}

#attacker-results {
    grid-area: attack-info;
}

#defender-results {
    grid-area: defend-info;
}

.button-adj {
    margin: auto 50px;
    width: 100px;
    height: 40px;
    font-family: 'Cormorant Unicase', serif;
    color: white;
    opacity: .75;
    font-weight: bold;
    border: solid white 3px;
    border-radius: 5px;
    background-color: black;
    font-size: 20px;
}

.blue-fire {
    filter: hue-rotate(180deg);
    position: absolute;
    z-index: 1;
    
}

.red-fire {
    position: absolute;
    z-index: 1;
}

footer {
    height: 100px;
    background: url("../images/FrozenTile.jpg");
    background-repeat: repeat;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Cormorant Unicase', serif;
    font-weight: bold;
}